@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  color-scheme: dark;
}

html {
    --font-sora: "Sora", sans-serif;
  font-family: var(--font-sora);
  font-size: 14px;
  overflow: auto;
  color: #f0f0f0;
  background-color: #121212;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
}